@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'Montserrat', sans-serif;
    background-color: #edf0f1;
    height:100vh;
}

.logo img {
    width:230px;
    margin-top:10px;
}

.navbar {
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;;
    height:70px;
    background-color: #edf0f1; 
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar .menu {
    margin-right:10%;
}

.navbar .logo {
    margin-left:10%;
}

.navbar .menu a {
    padding:8px 25px;
    font-size:18px;
}

.navbar .logo a {
    font-size:23px;
}

.navbar, .logo a, .menu a{
    text-decoration:none;
    color:#24252A;
}

.navbar .contato a {
    padding:10px 35px;
    text-decoration:none;
    color:#24252A;
}

.navbar .menu a:hover {
    color: #FF0000;
    transition:0.5s;
}

.header {
    height:100vh;
    background-image:url(/img/bg.jpg);
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top:70px;
}

.content {
    height:auto;
}

.content .text {
    font-size:30px;
    color:#edf0f1;
    width:660px;
}

.btn {
    font-family: 'Exo 2', sans-serif;
    font-size:22px;
    margin-top:6%;
    padding:20px 50px;
    text-decoration:none;
    border:2px solid #FF0000;
    color:#edf0f1;
    border-radius:5px;
    cursor:pointer;
    /* background:transparent; */
    background:red;
} 

.btn:hover {
    color:#edf0f1;
    background-color: #FF0000;
    border:2px solid #FF0000;
    transition:0.5s;
    box-shadow:5px 5px #edf0f1;
    font-size:22px;
}

footer{
    display:flex;
    height:200px;
    justify-content: center;
    align-items: center;
    background:#edf0f1;
    border-top: #24252A;
}

.rodape, h3, b, p {
    color:#24252A;
}


.rodape {
    text-align:center;
}